body {
  margin: 0;
  font-family: "Josefin Slab", serif !important;
  background-color: black !important;
}
@media (max-width: 360px) {
  td,
  th {
    font-size: 0.5rem !important;
  }
}
@media (max-width: 360px) {
  .status_update {
    font-size: 0.5rem !important;
  }
}
